<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<style>

    body {
        background-color: #282729;
        color: #d5d5d5;
    }

    h1 {
        width: 100%;
        text-align: center;
    }
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #696969;
    }

    th, td {
        padding: 8px;
        text-align: center;
    }

    th {
        font-size: 18px;
        background-color: #3e3d40;
    }

    td {
        font-size: 15px;
        vertical-align: top;
    }
</style>
<body>
<h1>Anagrams using Express</h1>
<table>
    <tr>
        <th>Word</th>
        <th>Count</th>
        <th>Anagrams</th>
    </tr>
    <% for (let [word, massive] of Object.entries(data)) { %>
        <tr>
            <td>
                <%= word %>
            </td>
            <td>
                <%= massive.length %>
            </td>
            <td>
                <%= massive.join(', ') %>
            </td>
        </tr>
    <% } %>
</table>
</body>
</html>
